<div class="jumbotron">
  <h1>Azeitanaro</h1>
  <p>
    Compre seu azeite aqui e agora!
  </p>
  <p>
      <hr class="my-4">
    <% if user_signed_in?%>
      <%= link_to produtos_path, class: 'btn btn-light btn-lg gotoshopbutton' do %>
      <%= image_tag("shopify.svg", size: '70x70') %>
      <span>Ir Para Loja</span>
    <% end %>
    <% else %>
      <%= link_to produtos_path, class: 'btn btn-secundary gotoshopbutton' do %>
      <%= image_tag("shopify.svg", size: '70x70') %>
      <span>Ir Para Loja</span>
    <% end %>

      <%= link_to cadastro_path, class: 'btn btn-secundary btn-lg create-acc-button' do %>
        <%= image_tag('user-solid.svg', size: '70x70')%>
        <span>Crie Sua Conta</span>
      <% end %>

    <% end %>
  </p>
</div>
