
<div class="new-user">
  <div class="acc-forms">
    <div class="form-label">
      <%= image_tag 'user-solid.svg', size:"50x50" %>
      <h1>Login</h1>
    </div>

    <div class="form-inputs">
      <%= form_for :session, url: entrar_path, method: :post do |f| %>


        <div class="form-group">
          <%= f.label :email, "Email:" %>
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Senha:" %>
          <%= f.password_field :password, placeholder: 'Senha', class: 'form-control' %>
        </div>

        <%= f.submit 'Entrar', class: 'btn btn-primary btn-block' %>
        <hr>
        <%= link_to 'Redefinir Senha', editar_cadastro_path, title: "Redefina sua senha" %>
        <br>
      <% end %>
    </div>
  </div>
</div>