
<div class="new-user">
  <div class="acc-forms">
    <div class="form-label">
      <%= image_tag 'user-solid.svg', size:"50x50" %>
      <h1>Login</h1>
    </div>

    <div class="form-inputs">
      <%= form_for :session, url: entrar_path, method: :post do |f| %>


        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Senha', class: 'form-control' %>
        </div>

        <%= f.submit 'Entrar', class: 'btn btn-primary submit-button' %>


      <% end %>
    </div>
  </div>
</div>