<%= form_with(model: @forma_pagamento, url: formas_pagamentos_path) do |f| %>
  <div class="form-group">
    <%= f.label :tipo, "Tipo de Pagamento" %>
    <%= f.select :tipo_id, { "Débito" => 1, "Crédito" => 2 }, {}, class: "form-control", id: "tipo-pagamento-select" %>
  </div>

  <div class="form-group" id="cartao-info">
    <%= f.label :numero_cartao, "Número do Cartão" %>
    <%= f.text_field :numero_cartao, class: "form-control cartao-mask", autocomplete: "cc-number" %>
  </div>

  <div class="form-group" id="ccv-info">
    <%= f.label :ccv_cartao, "CCV" %>
    <%= f.text_field :ccv_cartao, class: "form-control", autocomplete: "off", maxlength: 3 %>
  </div>

  <div class="form-group" id="data-validade-info">
    <%= f.label :data_validade, "Data de Validade" %>
    <%= f.date_select :data_validade, {start_year: Date.today.year, end_year: Date.today.year + 10, order: [:month, :year]}, class: "form-control" %>
  </div>

  <%= f.submit "Salvar", class: "btn btn-primary" %>
<% end %>

<script>
  $(document).ready(function() {
    var cartaoInputs = document.querySelectorAll('.cartao-mask');
    cartaoInputs.forEach(function(input) {
      input.addEventListener('input', function() {
        var value = this.value.replace(/\D/g, '').substring(0, 16);
        var newValue = '';
        for (var i = 0; i < value.length; i++) {
          if (i % 4 === 0 && i > 0) {
            newValue += '.';
          }
          newValue += value[i];
        }
        this.value = newValue;
      });
    });
    var ccvInput = document.querySelector('#ccv-info input');
    ccvInput.addEventListener('input', function() {
      this.value = this.value.slice(0, 3);
    });
  });
</script>
