<div class="container">
  <h1>Finalizar Compra</h1>
  <%= form_with(model: @ordem, url: ordems_path) do |f| %>
    <div id="endereco_fields">
     <div class="form-group">
    <%= f.label :endereco_id, "Endereço de Entrega" %>
    <%= f.collection_select :endereco_id, (@enderecos.map { |endereco| ["#{endereco.rua} #{endereco.numero} - #{endereco.cidade}", endereco.id] }), :second, :first, { prompt: "Selecione o endereço de entrega" }, class: "form-control" %>
  </div>
  </div>
  <div id="cartao_fields">
    <div class="form-group">
    <%= f.label :forma_pagamento_id, "Forma de Pagamento" %>
    <%= f.collection_select :forma_pagamento_id, @formas_pagamento, :id, lambda { |forma_pagamento| "Final: #{forma_pagamento.ultimos_4_digitos} - #{forma_pagamento.tipo.descricao}" }, { prompt: "Selecione a forma de pagamento" }, class: "form-control" %>

  </div>
    <br>
     <%= f.submit "Realizar Pedido", class: "btn btn-primary" %>
  <% end %>
  </div>
  <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Descrição</th>
          <th>Quantidade</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @carrinho_items.each do |item| %>
          <tr>
            <td style="text-align: center;"><%= image_tag(item.produto.imagem , style:"height: 100px;") %></td>
            <td><%= item.produto.nome %></td>
            <td><%= item.qtd %></td>
            <td>R$ <%= number_to_currency(item.produto.preco * item.qtd) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <hr>
</div>

<script>
  $(document).ready(function() {
    $('#forma_pagamento_select').change(function() {
      var selectedOption = $(this).val();
      if (selectedOption == 'cartao') {
        $('#cartao_fields').show();
      } else {
        $('#cartao_fields').hide();
      }
    });
  });
</script>

