<div class="container layout-view-white">
  <h1>Pedido #<%= @ordem.id %></h1>
  <p>Endereço: <%="#{@ordem.endereco.rua}, #{@ordem.endereco.numero} - #{@ordem.endereco.cidade}"%></p>
  <p>Forma de Pagamento: <%= @ordem.forma_pagamento.tipo.descricao %></p>
  <p>Status: <%= @ordem.status %></p>
  <table class="table layout-table-green">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% @ordem.ordem_items.each do |item| %>
        <% total += item.produto.preco * item.qtd %>
        <tr>
          <td><%= image_tag(item.produto.imagem) %></td>
          <td><%= item.produto.nome %></td>
          <td><%= item.qtd %></td>
          <td>R$ <%= number_to_currency(item.produto.preco * item.qtd) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="total-price">
    <h3>Total: R$ <%= number_to_currency(total) %></h3>
  </div>
</div>
