<div class="new-user">
  <div class="acc-forms">
    <div class="form-label">
      <h1>Editar Perfil</h1>
    </div>

    <div class="form-inputs">
      <%= form_for current_user do |f| %>
        <%= render 'fields', f: f %>

        <%= f.submit 'Atualizar', class: 'btn btn-primary submit-button' %>
      <% end %>
    </div>
    <hr>
    <%= link_to 'Endereços', new_endereco_path%>
    <br>
    <%= link_to 'Forma de Pagamento', new_formas_pagamento_path %>
  </div>
</div>
