<h3>Lista de Produtos</h3>
<div class="produtos-container">
  <% @produtos.each do |produto| %>
    <% if produto.nome.present? %>
    <%= link_to produto_path(produto) do %>
      <div class="produtos-card">
        <div class="produtos-card-imagem">
           <%= image_tag(produto.imagem) %>
        </div>
        <hr class="my-4">

        <%end%>
        <p>Preço: <%= number_to_currency(produto.preco) %></p>
        <p>Origem: <%= produto.origem %></p>
        <p>Data de Validade: <%= produto.validade %></p>
        <p>Data de Fabricação: <%= produto.fabricado_em %></p>
        <p>Tipo de Azeitona: <%= produto.tipo %></p>
      </div>
    <% end %>
  <% end %>
</div>