<h3>Lista de Produtos</h3>
<div class="lista-container">
  <div class="produtos-container">
    <% if @produtos.present? %>
    <% @produtos.each do |produto| %>
      <% if produto.nome.present? %>
      <%= link_to produto_path(produto) do %>
        <div class="produtos-card">
          <div class="produtos-card-imagem">
             <%= image_tag(produto.imagem) %>
          </div>
          <hr class="produtos-card-divisor">

          <%end%>
          <div class="produtos-card-descricao">
          <p><small><del>R$ <%= number_to_currency(produto.desconto)%></del></small></p>
          <p class="mb-0"><h4><strong>R$ <%= number_to_currency(produto.preco) %></strong></h4></p>
          <p class="text-primary"><%= produto.nome %></p>
          <p class="text-secondary">Origem: <%= produto.origem %></p>
          <p class="text-secondary">Tipo: <%= produto.tipo %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% else %>
      <div class="jumbotron" style="display: flex; flex-direction: column; align-items: flex-start;">
        <h1>Estoque Vasio</h1>
        <ul style="margin-top: 0;">Volte outra hora!</ul>
      </div>
    <% end %>
  </div>
</div>