<div class="container">
  <%= link_to produtos_path, class: "text-decoration-none text-primary mb-3" do %>
    <i class="fas fa-arrow-left"></i> Voltar
  <% end %>

<div class="produto-card">
  <div class="produto-card-imagem">
    <%= image_tag(@produtos.imagem, class: "produto-card-imagem-tag") %>
  </div>
  <div class="produto-card-descricao">
    <h2><%= @produtos.nome %></h2>
          <p><small><del>R$ <%= number_to_currency(@produtos.desconto)%></del></small></p>
          <p class="mb-0"><h4><strong>R$ <%= number_to_currency(@produtos.preco) %></strong></h4></p>
          <p class="text-secondary">Origem: <%= @produtos.origem %></p>
          <p class="text-secondary">Data de Validade: <%= @produtos.validade.strftime('%d/%m/%Y') %></p>
          <p class="text-secondary">Data de Fabricação: <%= @produtos.fabricado_em.strftime('%d/%m/%Y') %></p>
          <p class="text-secondary">Tipo: <%= @produtos.tipo %></p>
    
    <hr>
    <div class="produto-card-botoes">
    <% if !user_signed_in? %>
      <%= link_to 'Entrar', entrar_path , class: 'btn btn-primary' %>

    <% else %>
      <div class="input-group mb-3">
        <input type="number" class="form-control quantidade-input" value="1" min="1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary decremento-btn" type="button">-</button>
          <button class="btn btn-outline-secondary incremento-btn" type="button">+</button>
        </div>
      </div>  
      <button class="btn btn-warning btn-lg btn-block produto-adicionar" data-produto-id="<%= @produtos.id %>">Adicionar ao Carrinho</button>
      <%# <button class="btn btn-info btn-lg btn-block produto-comprar" data-produto-id="<%= @produtos.id %>
      <%# "> %>
        <%# Comprar</button> %>
    <% end %>
    </div>
  </div>
</div>
<script>
  $('.produto-adicionar').click(function() {
    var produtoId = $(this).data('produto-id');
    var quantidade = $('.quantidade-input').val();

    $('body').addClass('disable-clicks-loading');
    $(this).html('<i class="fas fa-spinner fa-spin"></i> Carregando...');
    $.ajax({
      type: 'POST',
      url: `/carrinho/adicionar/${produtoId}`,
      data: { quantidade: quantidade },
      success: function(data) {
        $.notify({icon: 'fas fa-info-circle', message: 'Adicionado ao carrinho com sucesso!'}, {type: 'success', z_index: 9999});
            setTimeout(function() {
              $('body').removeClass('disable-clicks-loading');
              window.location.href = "/produtos";
            }, 2000);
      },
      error: function(xhr, status, error) {
        $.notify({icon: 'fas fa-exclamation-triangle', message: "Erro ao adicionar no carrinho"}, {type: 'danger', z_index: 9999});
          setTimeout(function() {
              $('body').removeClass('disable-clicks-loading');
              window.location.href = "/produtos";
            }, 2000);
      }
    });
  });

  $('.produto-comprar').click(function() {
    var produtoId = $(this).data('produto-id');
    var quantidade = $('.quantidade-input').val();

    $.ajax({
      type: 'POST',
      url: `/carrinho/comprar/${produtoId}`,
      data: { quantidade: quantidade },
      success: function(data) {
      },
      error: function(xhr, status, error) {
      }
    });
  });

  $('.incremento-btn').click(function() {
  var quantidadeInput = $('.quantidade-input');
  quantidadeInput.val(parseInt(quantidadeInput.val()) + 1);
});

$('.decremento-btn').click(function() {
  var quantidadeInput = $('.quantidade-input');
  var currentValue = parseInt(quantidadeInput.val());
  quantidadeInput.val(currentValue > 1 ? currentValue - 1 : 1);
});
  </script>