<div class="produto-card">
  <div class="produto-card-imagem">
    <%= image_tag(@produtos.imagem, class: "produto-card-imagem-tag") %>
  </div>
  <div class="produto-card-descricao">
    <h2><%= @produtos.nome %></h2>
    <p>Preço: <%= number_to_currency(@produtos.preco) %></p>
    <p>Origem: <%= @produtos.origem %></p>
    <p>Data de Validade: <%= @produtos.validade %></p>
    <p>Data de Fabricação: <%= @produtos.fabricado_em %></p>
    <p>Tipo de Azeitona: <%= @produtos.tipo %></p>
    
    <div class="produto-card-botoes">
      <button class="btn btn-warning btn-lg btn-block produto-adicionar" data-produto-id="<%= @produtos.id %>">Adicionar ao Carrinho</button>
    </div>
    
    <div class="produto-card-botoes">
      <button class="btn btn-info btn-lg btn-block produto-comprar" data-produto-id="<%= @produtos.id %>">Comprar</button>
    </div>
  </div>
</div>