<nav class="azeitanaro_navbar navbar navbar-static-top">
  <div class="container-fluid">

      <%= link_to root_url, class: "logo-empresa" do %> 

      <%= image_tag 'logo_fundo.svg', alt: "Logo da empresa", id: "navbar-logo" %>
      <span class="usuario-nome">Bem vindo<%=", " + current_user.name if user_signed_in? %></span>

      <% end %>
      
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to produtos_path, title: "Loja", id: 'navbuttonh' do %><i class="fas fa-store fa-lg fa-bounce navbutton" id="" aria> Loja</i><% end %></li>
        <li><%= link_to entrar_path, title: "Entrar", id: 'navbuttonh' do %><i class="fas fa-sign-in-alt fa-lg navbutton"> Entrar</i><% end  if !user_signed_in?%></li>
        <li>
          <%= link_to cadastro_path, title: "Nova Conta", id: 'navbuttonh' do %><i class="fas fa-user-plus fa-lg fa-bounce navbutton"> Cadastrar-se</i><% end if !user_signed_in?%>
        </li>
        <li><%= link_to root_path(current_user), title: "Pedidos", id: 'navbuttonh' do %><i class="fas fa-shopping-bag fa-lg fa-bounce navbutton"> Pedidos</i><% end  if user_signed_in?%></li>
        <li><%= link_to root_path(current_user), title: "Carrinho", id: 'navbuttonh' do %><i class="fas fa-shopping-cart fa-lg fa-bounce navbutton"> Carrinho</i><% end if user_signed_in?%></li>
        <li><%= link_to edit_user_path(current_user), title: "Editar", id: 'navbuttonh' do %><i class="fas fa-edit fa-lg fa-bounce navbutton"> Editar</i><% end if user_signed_in?%></li>
        <li><%= link_to sair_path, method: :delete, title: "Sair", id: 'navbuttonh' do %><i class="fas fa-sign-out-alt fa-lg fa-bounce navbutton"> Sair</i><% end if user_signed_in?%></li>
      </ul>
    </div>
  </div>
</nav>